<div class="info">
<div class="intro">
<h3>post<%= @post.id %></h3>  <h5>by</h5> <h4><%= @post.author.name %></h4> <h6>Comments: <%= @post.commentscounter %> Likes: <%= @post.likescounter %></h6>
</div>

<h5><%= @post.title %></h5>
<p><%= @post.text %></p>

</div>

<% @post.comments.includes(:author).each do |comment|%>
<div class="username-text">
<%= comment.author.name%>: <%= comment.text%>
</div>
<% end %>
